*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body > * {
  padding: 0rem 1rem;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 216, 216);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.link {
  color: rgb(79 70 229);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  text-decoration: none;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  display: flex;
  gap: 2rem;
  list-style: none;
}

@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0;
    flex-direction: column;
    padding: 8rem 2rem;
    background-color: gray;
    transform: translate(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translate(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("/Assets/menu-open.svg");
    background-repeat: no-repeat;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 4px;
    right: 1rem;
    margin: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/Assets/menu-close.svg");
  }
}

#home {
  /* background-color: #d6cbcb; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

/* Images */
.image {
  width: 100%;
  max-width: 25rem;
}

.image.article {
  max-width: 65ch;
}

.image .card {
  object-fit: cover;
  border-radius: 1rem;
}

/* Titles */
.title {
  text-align: center;
}

.title.t1 {
  font-size: 2rem;
  font-weight: 900;
}

.title.t2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.title.t3 {
  font-size: 1.25rem;
  text-align: left;
  font-weight: 600;
  margin-bottom: 2rem;
}

.blue-button {
  background-color: blue;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  color: white;
}

.blue-button:is(:hover, :focus) {
  cursor: pointer;
}

.download {
  display: flex;
  gap: 0.5rem;
}

.download > a > img {
  width: 1rem;
}

.projects {
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 2rem 0 2rem 0;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-card {
  background-size: cover;
  margin: 0 1rem 0 1rem;
  padding: 2rem;
  aspect-ratio: auto 309 / 450;
  border-radius: 1rem;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-card.msf {
  background-image: url(/Assets/msf-header.png);
  color: white;
}

.project-card.swf {
  background-image: url(/Assets/swf-isf.png);
  color: white;
}

.project-card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
  text-decoration: none;
}

footer {
  position: sticky;
  text-align: center;
  color: white;
  background-color: red;
  bottom: 0;
}

/* Paragraph Information */
.p-info {
  max-width: 65ch;
}

.center {
  width: 100%;
}

@media (min-width: 48rem) {
  .center {
    width: 50%;
    margin: 0 auto;
  }
}

/* Utility Classes */
.mb-2 {
  margin-bottom: 2rem;
}

.left {
  text-align: left;
}
